@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f5fc;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
}

.container {
  display: flex;
}

/* Estilos del lado izquierdo. -------------------------------------------------------------*/

#left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-principal {
  align-self: self-start;
}

#logo-alura {
  width: 4.5rem;
  height: 1.8rem;
}

#texto-entrada {
  background-color: #f3f5fc;
  font-family: inherit;
  font-size: 1.4rem;
  color: #0a3871;
  padding: 5px;
  resize: none;
  overflow: hidden;
  border: none;
  min-height: 12.625rem;
}

#texto-entrada:focus {
  outline: 1px solid #0a3871;
  border-radius: 5px;
}

#label-texto-entrada {
  display: flex;
  align-items: center;
  color: #495057;
  font-size: 0.875rem;
}

.material-symbols-outlined {
  margin: 0 0.125rem 0 0;
}

#botones-left-side {
  display: flex;
  margin-top: 1.5rem;
}

.boton-style {
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}

.boton-style:active {
  background-color: #3b8cde !important;
  color: #333333 !important;
  border: 1px solid #3b8cde !important;
}

#boton-encriptar {
  background-color: #0a3871;
  color: white;
  border: 1px solid #0a3871;
  padding: 1.1875rem 0;
}

#boton-desencriptar {
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
  padding: 1.1875rem 0;
}

/* Estilos del lado derecho. ----------------------------------------------------------------*/

#right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 1.4rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 10px 32px -20px black;
}

#subtitulo-resultado {
  margin-bottom: 1rem;
}

#texto-resultado {
  width: 90%;
  word-break: break-all;
}

#boton-copiar {
  background-color: #ffffff;
  color: #0a3871;
  border: 1px solid #0a3871;
  padding: 1.1875rem 0;
}

/*------------------------------------- MEDIAS QUERIES ----------------------------------------*/

/* ESTILOS PARA CELULARES --------------------------------------------------------------------*/

/* RETRATO */
@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  #left-side {
    width: 100vw;
  }

  #titulo-principal {
    margin: 0.8125rem 0 0 0;
  }

  #texto-entrada {
    width: 97%;
    margin: 3.75rem 0 0 0;
  }

  #label-texto-entrada {
    margin: 8px 0 0 0;
    align-self: self-start;
    margin-left: 0.5rem;
  }

  #botones-left-side {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .boton-style {
    width: 90%;
  }

  #boton-desencriptar {
    margin-top: 1.25rem;
  }

  #right-side {
    width: 90%;
    margin: 3.75rem 0 1rem 0;
  }

  #boton-copiar {
    margin-top: 2.5rem;
  }
}

/* PAISAJE */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}

/* ESTILOS PARA TABLETS -----------------------------------------------------------------------*/

/* RETRATO */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* PAISAJE */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}

/* ESTILOS PARA COMPUTADORAS -------------------------------------------------------------------*/

@media only screen and (min-width: 1201px) {
  #left-side {
    margin: 20px 0 0 50px;
    width: 65vw;
    height: 90vh;
  }

  #right-side {
    width: 35vw;
    height: 90vh;
    margin: 2rem 2rem 0 0;
  }
}
