@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f3f5fc;
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  width: 100vw;
}

img {
  height: auto;
}

.alerta-flotante {
  text-align: center;
  position: fixed;
  transform: translateX(-50%);
  top: 0.625rem;
  left: 50%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.container {
  display: flex;
}

/* Estilos del lado izquierdo. -------------------------------------------------------------*/

#left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#titulo-principal {
  align-self: self-start;
}

#entrada-ls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

#texto-entrada {
  background-color: #f3f5fc;
  font-family: inherit;
  font-size: 1.4rem;
  color: #0a3871;
  padding: 0.3125rem;
  resize: none;
  overflow: auto;
  border: none;
}

#texto-entrada:focus {
  outline: 1px solid #0a3871;
  border-radius: 5px;
}

#label-texto-entrada {
  display: flex;
  align-items: center;
  color: #495057;
}

.material-symbols-outlined {
  margin: 0 0.125rem 0 0;
}

#botones-left-side {
  display: flex;
}

.boton-style {
  border-radius: 20px;
  border: none;
  font-size: 1rem;
}

.boton-style:active {
  background-color: #3b8cde !important;
  color: #333333 !important;
  border: 1px solid #3b8cde !important;
}

#boton-encriptar {
  background-color: #0a3871;
  color: white;
  border: 1px solid #0a3871;
}

#boton-desencriptar {
  background-color: #d8dfe8;
  color: #0a3871;
  border: 1px solid #0a3871;
}

/* Estilos del lado derecho. ----------------------------------------------------------------*/

#right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 10px 32px -20px black;
}

#munieco {
  display: none;
}

#texto-resultado {
  width: 100%;
  word-wrap: break-word;
}

#boton-copiar {
  background-color: #ffffff;
  color: #0a3871;
  border: 1px solid #0a3871;
  padding: 1.1875rem 0;
}

/*------------------------------------- MEDIAS QUERIES ----------------------------------------*/

/* ESTILOS PARA CELULARES --------------------------------------------------------------------*/

@media only screen and (max-width: 567px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .alerta-flotante {
    padding: 0.625rem;
  }

  #left-side {
    width: 100%;
    height: 29rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  #logo-alura {
    width: 4.5rem;
  }

  #entrada-ls {
    justify-content: space-between;
    height: 25rem;
    min-height: 80%;
  }

  #texto-entrada {
    width: 97%;
    height: 50%;
    font-size: 1.5rem;
  }

  #label-texto-entrada {
    margin-top: auto;
    padding: 0 0.5rem;
    align-self: self-start;
    font-size: 0.9rem;
  }

  #botones-left-side {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 35%;
  }

  .boton-style {
    width: 90%;
    padding: 1.1875rem 0;
    font-size: 1.2rem;
  }

  #right-side {
    width: 90%;
    margin: 2rem 0;
  }

  #subtitulo-resultado {
    margin-bottom: 0.7rem;
  }

  #texto-resultado {
    max-height: 25rem;
  }

  #boton-copiar {
    margin-top: 2rem;
  }
}

/* ESTILOS PARA TABLETS -----------------------------------------------------------------------*/

@media only screen and (min-width: 568px) and (max-width: 1023px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .alerta-flotante {
    padding: 1.5rem;
    width: 40%;
    height: auto;
    font-size: 1.5rem;
  }

  #left-side {
    width: 100%;
    height: 34rem;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

  #logo-alura {
    width: 6rem;
  }

  #entrada-ls {
    justify-content: space-between;
    height: 25rem;
    min-height: 80%;
  }

  #texto-entrada {
    width: 80%;
    height: 50%;
    font-size: 1.6rem;
  }

  #label-texto-entrada {
    margin-top: auto;
    padding: 0 1rem;
    align-self: self-start;
    font-size: 0.9rem;
  }

  #botones-left-side {
    width: 100%;
    margin: 1rem 0;
    align-items: center;
    justify-content: space-around;
  }

  .boton-style {
    width: 45%;
    padding: 1.6rem 0;
    font-size: 1.3rem;
  }

  #right-side {
    width: 90%;
    margin: 2rem 0;
  }

  #subtitulo-resultado {
    width: 50%;
    margin-bottom: 0.7rem;
  }

  #texto-resultado {
    font-size: 1.6rem;
    width: 80%;
    max-height: 18.75rem;
  }

  #boton-copiar {
    margin-top: 2.5rem;
  }
}

/* ESTILOS PARA COMPUTADORAS -------------------------------------------------------------------*/

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .container {
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }

  .alerta-flotante {
    padding: 1.5rem;
    width: 40%;
    height: auto;
    font-size: 1.5rem;
  }

  #left-side {
    width: 58%;
    height: 85%;
    justify-content: space-between;
  }

  #titulo-principal {
    height: 10%;
    align-self: self-start;
  }

  #logo-alura {
    width: 6.8rem;
  }

  #entrada-ls {
    width: 100%;
    height: 85%;
    justify-content: space-around;
  }

  #texto-entrada {
    width: 80%;
    height: 50%;
    font-size: 2rem;
  }

  #label-texto-entrada {
    margin-top: auto;
    align-self: self-start;
    font-size: 0.9rem;
  }

  #botones-left-side {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: space-around;
  }

  .boton-style {
    width: 45%;
    padding: 1.6rem 0;
    font-size: 1.5rem;
  }

  #right-side {
    width: 35%;
    height: 90%;
    justify-content: space-around;
  }

  #munieco {
    display: inline;
    margin-bottom: 1.5rem;
    width: 15.625rem;
  }

  #texto-resultado {
    font-size: 1.6rem;
    max-height: 35.7rem;
  }

  #boton-copiar {
    margin-top: 2.5rem;
    width: 95%;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    height: 100vh;
    align-items: center;
    justify-content: space-around;
  }

  .alerta-flotante {
    padding: 1.5rem;
    width: 40%;
    height: auto;
    font-size: 1.5rem;
  }

  #left-side {
    width: 58%;
    height: 85%;
    justify-content: space-between;
  }

  #titulo-principal {
    height: 10%;
    align-self: self-start;
  }

  #logo-alura {
    width: 6.8rem;
  }

  #entrada-ls {
    width: 100%;
    height: 85%;
    justify-content: space-around;
  }

  #texto-entrada {
    width: 80%;
    height: 50%;
    font-size: 2rem;
  }

  #label-texto-entrada {
    margin-top: auto;
    align-self: self-start;
    font-size: 0.9rem;
  }

  #botones-left-side {
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: space-around;
  }

  .boton-style {
    width: 45%;
    padding: 1.6rem 0;
    font-size: 1.5rem;
  }

  #right-side {
    font-size: 1.5rem;
    width: 35%;
    height: 90%;
    justify-content: space-between;
  }

  #munieco {
    display: inline;
    width: 25rem;
  }

#subtitulo-resultado {
  margin-top: auto;
}

  #texto-resultado {
    max-height: 80%;
    margin-bottom: auto;
  }

  #boton-copiar {
    width: 95%;
    height: 10%;
  }
}
